* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato";
}

body {
    background-color: #F8F7F5;
    color: #232323;
}

/* nav styling */

nav {
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    padding: 10px 60px;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav li {
    list-style: none;
    padding: 5px 10px;

}

nav a {
    text-decoration: none;
    color: #232323;
    font-size: 1.3rem;
}

nav ul a:hover {
    color: #f04800;
}

nav h1 a {
    font-size: 1.8rem;
    font-family: "Lato";
}

/* footer styles */
footer {
    height: 100px;
    background-color: #f04800;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #ffffff;
}

footer div p {
    text-align: center;
    margin-bottom: 10px;
}

/* Hamburger button styles */
.hamburger {
    display: none;
    font-size: 1.8rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #232323;
}

/* Responsive styling for tablet and mobile view */
@media (max-width: 780px) {

    /* Show hamburger icon */
    .hamburger {
        display: block;
    }

    nav {
        padding-left: 30px;
        padding-right: 30px;
    }

    /* Hide the nav links by default */
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100px;
        right: 20px;
        background: white;
        width: calc(100% - 40px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 10px;
        border-radius: 8px;
        z-index: 1;

        align-items: center;
        border: 1px solid;
    }

    /* Show nav links when menu is open */
    nav ul.open {
        display: flex;
    }

    nav li {
        padding: 10px 0;
    }

    nav li:hover {
        background-color: #F8F7F5;
    }

    nav a {
        font-size: 1.2rem;
    }
}